extends layout


block content
  script(src='/javascripts/cart.js')
  link(rel='stylesheet', href='/stylesheets/product.css')
  p Welcome #{username}

  a(href='/logout') Logout
  div.item
    img.item-poster(src= item.address height="400" width="400")
    h2.name #{item.name}
    p.cost Rs#{item.cost}
    p.avail availbility: #{item.availbility}


  p#addcart(value=item._id) Add to cart
